---
layout: default
section_id: portfolio
works_left:
- title:  Tina & Antony  
  link_to: portfolio-item.html
  image: images/greenmini.jpg
  categories: Wedding 

- title: For Joaquin
  link_to: portfolio-item.html
  image: images/bunnymini.jpg
  categories: Birthday

- title: Happy B Day to Twins
  link_to: portfolio-item.html
  image: images/babyshowermini.jpg
  categories: Birthday

- title: For Terrence
  link_to: portfolio-item.html
  image: images/birthdaymini.jpg
  categories: Birthday

- title: Lisa & Adrien
  link_to: portfolio-item.html
  image: images/swanmini.jpg
  categories: Wedding

- title: New Year
  link_to: portfolio-item.html
  image: images/newyearmini.jpg
  categories: Holiday

works_middle:
- title: Willam & Sara
  link_to: portfolio-item-2.html
  image: images/swmini1.jpg
  categories: Wedding 

- title: Lucy & Jordan
  link_to: portfolio-item-2.html
  image: images/deermini1.jpg
  categories: Wedding

- title: Sara & William
  link_to: portfolio-item.html
  image: images/fresnomini3.jpg
  categories: Wedding

- title: William & Sara
  link_to: portfolio-item.html
  image: images/fresnomini1.jpg
  categories: Wedding

- title: Jayce & Ashley
  link_to: portfolio-item.html
  image: images/swanmini1.jpg
  categories: Wedding

- title: Jameson & Sara
  link_to: portfolio-item.html
  image: images/swanmini3.jpg
  categories: Wedding
  
works_right:
- title: RSVP
  link_to: portfolio-item-2.html
  image: images/swmini2.jpg
  categories: Wedding

- title: Thank You
  link_to: portfolio-item.html
  image: images/deermini2.jpg
  categories: Wedding

- title: Want to See U
  link_to: portfolio-item.html
  image: images/fresnomini4.jpg
  categories: Wedding

- title: Hope to See You
  link_to: portfolio-item.html
  image: images/fresnomini2.jpg
  categories: Wedding

- title: RSVP
  link_to: portfolio-item.html
  image: images/swanmini2.jpg
  categories: Wedding

- title: RSVP
  link_to: portfolio-item.html
  image: images/swanmini4.jpg
  categories: Wedding

---

<div class="full light-grey">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Inspiration</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 medium-centered columns">
        <div class="header-quote">
          <p>"I always enjoy  desgin because it's about creative exploration, thinking through ideas and coming up with a visual solution of the ideas."</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full no-overflow">
  <div class="four spacing"></div>
  <div class="large-4 columns">
    {% for work in page.works_left %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_middle %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="large-4 columns">
    {% for work in page.works_right %}
      <div class="work-wrapper">
        <a href="{{work.link_to}}" class="work">
          <img src="{{site.url}}/{{work.image}}" alt="">
          <div class="info">
            <h3>{{work.title}}</h3>
            <p>{{work.categories}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>