---
layout: default
section_id: portfolio
works_left:
- title: Newsletter for LACCD
  link_to: portfolio-item.html
  image: images/newslettermini1.jpg
  categories: exclusive by sara

- title: Newsletter for LACCD
  link_to: portfolio-item.html
  image: images/newslettermini3.jpg
  categories: exclusive by sara

- title: Newsletter for LACCD
  link_to: portfolio-item.html
  image: images/newslettermini5.jpg
  categories: exclusive by sara

- title: Newsletter for LACCD
  link_to: portfolio-item-2.html
  image: images/newslettermini7.jpg
  categories: exclusive by sara

- title: Newsletter for LACCD
  link_to: portfolio-item-2.html
  image: images/newslettermini9.jpg
  categories: exclusive by sara

- title: Inventition for LACCD
  link_to: portfolio-item-2.html
  image: images/inventitionmini5.jpg
  categories: exclusive by sara

- title: Inventition for LACCD
  link_to: portfolio-item-2.html
  image: images/inventitionmini1.jpg
  categories: exclusive by sara

works_right:
- title: Newsletter for LACCD
  link_to: portfolio-item-2.html
  image: images/newslettermini2.jpg
  categories: exclusive by sara

- title: Newsletter for LACCD
  link_to: portfolio-item.html
  image: images/newslettermini4.jpg
  categories: exclusive by sara

- title: Newsletter for LACCD
  link_to: portfolio-item-2.html
  image: images/newslettermini6.jpg
  categories: exclusive by sara

- title: Newsletter for LACCD
  link_to: portfolio-item.html
  image: images/newslettermini8.jpg
  categories: exclusive by sara

- title: Inventition for LACCD
  link_to: portfolio-item.html
  image: images/inventitionmini4.jpg
  categories: exclusive by sara

- title: Inventition for LACCD
  link_to: portfolio-item.html
  image: images/inventitionmini6.jpg
  categories: exclusive by sara

- title: Inventition for LACCD
  link_to: portfolio-item.html
  image: images/inventitionmini3.jpg
  categories: exclusive by sara
---

<div class="full light-grey">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">My Portfolio</h1>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 medium-centered columns">
        <div class="header-quote">
          <p>"I am passionate about my work. In my previous job, I taught myself use Photoshop & Video editing tool to improve the quality of my project. I soon became the go-to person for any design needs."</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full">
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="{{work.link_to}}" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>